@model MVCJan2018.Models.EmployeeDeptVM
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<p>Employee Name:@Model.Employee.Name</p>
<p>Employee Email:@Model.Employee.Email</p>
<p>Employee Address:@Model.Employee.Address</p>
<p>Department ID:@Model.Department.Id</p>
<p>Department ID:@Model.Department.Name</p>
