@model MVCJan2018.Models.EmployeeVM

@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<p>Employee Name:@Model.Name</p>
<p>Employee Email:@Model.Email</p>
<p>Employee Address:@Model.Address</p>
<p>Department ID:@Model.Department.Id</p>
<p>Department ID:@Model.Department.Name</p>
