<!DOCTYPE html>
<html>
<head>
    <title>Learing HTML</title>
    <meta charset="utf-8" />
    <meta name="description" content="HTML Tutorials">
    <meta name="keywords" content="HTML,CSS">
    <meta name="author" content="Rama">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <noscript> JavaScript is not supported </noscript>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <h2>Product Info</h2>

    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
        <tr>
            <td>Computer</td>
            <td>computer desc</td>
            <td>$600</td>
        </tr>
        <tr>
            <td>Printer</td>
            <td>printer desc</td>
            <td>$300</td>
        </tr>
    </table>

</body>
</html>

