<table class="table table-bordered table-striped">
    <tr>
        <th>Name</th>
        <th>Email</th>
    </tr>
    <tr>
        <td>Rama</td>
        <td>Rama@gmail.com</td>
    </tr>
    <tr>
        <td>Siva</td>
        <td>siva@gmail.com</td>
    </tr>
</table>